<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cdoserver -->
      <package
            uri="http://cooperateproject.de/rcptt/ecl/cdoserver.ecore"
            class="de.cooperateproject.rcptt.ecl.cdoserver.CdoserverPackage"
            genModel="model/cdoserver.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="de.cooperateproject.rcptt.ecl.cdoserver.service.StartCdoServerService"
            name="StartCdoServer"
            namespace="http://cooperateproject.de/rcptt/ecl/cdoserver.ecore">
      </scriptlet>
   </extension>

</plugin>
