<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="de.cooperateproject.rcptt.ecl.cooperate.repository.service.StartCooperateRepositoryService"
            name="StartCooperateRepository"
            namespace="http://cooperateproject.de/rcptt/ecl/cooperate.ecore">
      </scriptlet>
      <scriptlet
            class="de.cooperateproject.rcptt.ecl.cooperate.repository.service.StopCooperateRepositoryService"
            name="StopCooperateRepository"
            namespace="http://cooperateproject.de/rcptt/ecl/cooperate.ecore">
      </scriptlet>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cooperate -->
      <package
            uri="http://cooperateproject.de/rcptt/ecl/cooperate.ecore"
            class="de.cooperateproject.rcptt.ecl.cooperate.cooperate.CooperatePackage"
            genModel="model/cooperate.genmodel"/>
   </extension>

</plugin>
